<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="background: #a6e1ec">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/jquery/bootstrap_3.3.0/css/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/xcConfirm/css/xcConfirm.css}" type="text/css" rel="stylesheet"/>

    <script type="text/javascript" th:src="@{/jquery/jquery-2.2.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery/bootstrap_3.3.0/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/xcConfirm/js/xcConfirm.js}"></script>
</head>
<body style="background: #a6e1ec">
<div style="background: #a6e1ec">
    <div style="position: relative; left: 10px; top: -10px;">
        <div class="page-header">
            <h3>执行管理</h3>
        </div>
    </div>
</div>
执行
</body>
</html>