<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="background: #a6e1ec">
<head>
<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link th:href="@{/jquery/bootstrap_3.3.0/css/bootstrap.min.css}" type="text/css" rel="stylesheet" />
<link th:href="@{/jquery/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css}" type="text/css" rel="stylesheet" />
<link th:href="@{/jquery/bootstrap-table/css/bootstrap-table.min.css}" type="text/css" rel="stylesheet" />
<link th:href="@{/xcConfirm/css/xcConfirm.css}" type="text/css" rel="stylesheet" />

<script type="text/javascript" th:src="@{/jquery/jquery-2.2.3.min.js}"></script>
<script type="text/javascript" th:src="@{/jquery/bootstrap_3.3.0/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/jquery/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js}"></script>
<script type="text/javascript" th:src="@{/jquery/bootstrap-datetimepicker-master/locale/bootstrap-datetimepicker.zh-CN.js}"></script>
<script type="text/javascript" th:src="@{/jquery/bootstrap-table/js/bootstrap-table.min.js}"></script>
<script type="text/javascript" th:src="@{/jquery/bootstrap-table/js/bootstrap-table-export.min.js}"></script>
<script type="text/javascript" th:src="@{/jquery/bootstrap-table/js/tableExport.min.js}"></script>
<script type="text/javascript" th:src="@{/jquery/bootstrap-table/js/xlsx.core.min.js}"></script>
<script type="text/javascript" th:src="@{/jquery/bootstrap-table/js/FileSaver.min.js}"></script>
<script type="text/javascript" th:src="@{/jquery/bootstrap-table/js/bootstrap-table-zh-CN.js}"></script>
<script type="text/javascript" th:src="@{/xcConfirm/js/xcConfirm.js}"></script>

<script type="text/javascript">

	$(function(){
		//以下日历插件在FF中存在兼容问题，在IE浏览器中可以正常使用。
		$(".date").datetimepicker({
			minView: "month",
			language:  'zh-CN',
			format: 'yyyy-mm-dd',
	        autoclose: true,
	        todayBtn: true,
	        pickerPosition: "bottom-left"
		});
		
		$(".date").datetimepicker({
			minView: "month",
			language:  'zh-CN',
			format: 'yyyy-mm-dd',
	        autoclose: true,
	        todayBtn: true,
	        pickerPosition: "bottom-left"
		});
		//创建计划日期选择器
        $("#create-startTime").datetimepicker({
            format: 'yyyy-mm-dd',

            minView:'month',
            language: 'zh-CN',
            autoclose:true,
            startDate:new Date()
        }).on("click",function(){
            $("#create-startTime").datetimepicker("setEndDate",$("#create-endTime").val())
        });
        $("#create-endTime").datetimepicker({
            format: 'yyyy-mm-dd',
            minView:'month',
            language: 'zh-CN',
            autoclose:true,
            startDate:new Date()
        }).on("click",function(){
            $("#create-endTime").datetimepicker("setStartDate",$("#create-startTime").val())
        });
		//初	始化table
        var oTable = new TableInit();
        oTable.Init();

		
		//定制字段
		$("#definedColumns > li").click(function(e) {
			//防止下拉菜单消失
	        e.stopPropagation();
	    });
		
	});
	//表格展示
    var TableInit = function () {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
            $('#table').bootstrapTable({
                url: '/plan/queryPlanList', //请求后台的URL（*）
                method: 'get',  //请求方式（*）
                toolbar: '#tableToolbar', //工具按钮用哪个容器
				dataType:'json',
                striped: true,  //是否显示行间隔色
                cache: false,    //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true, //是否显示分页（*）
                sortable: false,  //是否启用排序
                //sortName:"id",
                //sortOrder: "desc",  //排序方式
                queryParams: oTableInit.queryParams,//传递参数（*）
                queryParamsType: 'limit',
                sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
                pageNumber:1, //初始化加载第一页，默认第一页
                pageSize: 5,    //每页的记录行数（*）
                pageList: [5, 10, 15, 30], //可供选择的每页的行数（*）
                smartDisplay:false,
                search: false,  //是否显示表格搜索
                strictSearch: true,
                searchAlign:'left',
                buttonsAlign:'left',//指定按钮位置左或者右
                showColumns: true, //是否显示所有的列
                showRefresh: true, //是否显示刷新按钮
                minimumCountColumns: 2, //最少允许的列数
                clickToSelect: true,//是否启用点击选中行
                //height: 500,  //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "id", //每一行的唯一标识，一般为主键列
                showToggle:false, //是否显示详细视图和列表视图的切换按钮
                cardView: false, //是否显示详细视图
                detailView: false, //是否显示父子表
                contentType: "application/x-www-form-urlencoded", //解决POST提交问题
                responseHandler:function (res) {
                    return res;
                },
                showExport: true,  //是否显示导出按钮
                buttonsAlign:"left",  //按钮位置
                exportTypes:['excel','xlsx'],  //导出文件类型
                //exportButton: $('#btn_export'),
                Icons:'glyphicon-export',
                exportOptions:{
                    ignoreColumn: [0],  //忽略某一列的索引
                    fileName: '计划列表',  //文件名称设置
                    worksheetName: 'sheet1',  //表格工作区名称
                    tableName: '计划列表',
                    excelstyles: ['background-color', 'color', 'font-size', 'font-weight'],
                    onMsoNumberFormat: DoOnMsoNumberFormat
                },
                columns: [
                    {	checkbox: true,
						width:10
					},
                    {
                        title: '计划名称',
                        field: 'goal',
                        align: 'center',
                        valign: 'middle',
                        width:50
                    },
                    {
                        title: '计划优先级',
                        field: 'planPriority',
                        align: 'center',
                        valign: 'middle',
                        width:30,
						formatter:function(value,row,index){
                            switch (value){
                                case 1:return'非紧急';
                                break;
								case 2:return '普通';
								break;
								case 3:return '紧急';
								break;
								default:return '无优先级';
							}
						}
                    },
                    {
                        title: '计划状态',
                        field: 'planStatus',
                        align: 'center',
                        width: 50,
                        formatter: function (value, row, index) {
                            switch (value) {
                                case 1:
                                    return '已完成';
                                    break;
                                case 2:
                                    return '进行中';
                                    break;
                                case 3:
                                    return '未完成';
                                    break;
                                case 4:
                                    return '废弃';
                                    break;
                                case 5:
                                    return '延期';
                                    break;
                                case 6:
                                    return '新建';
                                    break;
                            }

                        }
                    },
                    {
                        title: '开始日期',
                        field: 'planBegainTime',
                        align: 'center',
                        formatter: function (value, row, index) {
                            return changeDateFormat(value)
                        },
                        width:50
                    },
                    {
                        title: '结束日期',
                        field: 'planEndTime',
                        align: 'center',
                        formatter: function (value, row, index) {
                            return changeDateFormat(value)
                        },
                        width:50
                    },
					{
					    title:'计划描述',
						field:'planDescription',
						width:200
					}
				]
            });
        };

        //得到查询的参数
        oTableInit.queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                pageSize: params.limit,   //页面大小
                pageNumber: params.offset, //页码
                //sortName: params.sort,	//排序列名
                //sortOrder:params.order,	//排序方式
               searchText:params.search	//搜索框参数
            };
            return temp;
        };
        return oTableInit;
    };

    /** 刷新列表 */
    function refresh() {
        $('#table').bootstrapTable('refresh');
    }

	//2.创建计划
	function creatPlan() {

		//获取数据
		var data = {
		    "goal":$("#goal").val().toString(),
			"planPriority":$("#planPriority").val().toString(),
			"planBegainTime":$("#create-startTime").val().toString(),
			"planEndTime":$("#create-endTime").val().toString(),
			"planDescription":$("#create-describe").val().toString()
		}
		//发送ajax请求
		$.ajax({
			type:"post",
			url:"/plan/creatPlan",
			data:JSON.stringify(data),
            dataType: "json",
            contentType: "application/json",
			success:function (ajaxData) {
				if(1==ajaxData.code){
                    //创建成功
                    var txt= "<h4>"+ajaxData.msg+"</h4>";
                    window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.success);
                    //刷新
                    $("#goal").val("");
                    $("#planPriority").val("");
                    $("#create-startTime").val("");
                    $("#create-endTime").val("");
                    $("#create-describe").val("");
                    //刷新列表
                    refresh();
				}else {
                    //创建失败
                    $("#createPlanModal").modal('show');
                    var txt=  "<h4>"+ajaxData.msg+"</h4>";
                    window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.error);
                }
            },
			error:function () {
                var txt= "<h4>系统暂时忙不过来啦，<br>请稍后再试！</h4>";
                window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.error);
            }
		})
    }
	//3.修改计划
	function editPlan(){
        var plan= $('#table').bootstrapTable('getSelections');
        //3.1展示当前计划字段值
        if(plan.length==1){
            //判断是否为已过期计划，过期计划不能修改
            var d = new Date();
            var today = d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate();
            var endTime = changeDateFormat(plan[0].planEndTime);
            if(today>endTime){
                var txt = "<h4 style='color:indianred'>亲，该计划已经结束不能修改啦！</h4>";
                window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.info);
                return;
            }
            //判断是否为废弃计划，废弃计划不能修改
			if(plan[0].planStatus == 4){
                var txt = "<h4 style='color:indianred'>亲，该计划已经废弃了不能修改啦！</h4>";
                window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.info);
                return;
			}
			$("#editGoal").val(plan[0].goal);
			var planPriority = plan[0].planPriority;
			if(planPriority == 1){
                document.getElementById("editplanPriority")[1].selected=true;
			};
            if(planPriority == 2){
                document.getElementById("editplanPriority")[2].selected=true;
            };
            if(planPriority == 3){
                document.getElementById("editplanPriority")[3].selected=true;
            };
			$("#edit-startTime").val(changeDateFormat(plan[0].planBegainTime));
			$("#edit-endTime").val(changeDateFormat(plan[0].planEndTime));
			$("#edit-describe").val(plan[0].planDescription);
            $("#editPlanModal").modal('show');
        }else if(plan.length>1){
            window.wxc.xcConfirm("<h4>亲，不能同时修改多条计划哦，<br>请选择其中一条计划进行修改啦!</h4>",window.wxc.xcConfirm.typeEnum.error);
        }else{
            var txt = "<h4>亲，请先选择一条需要修改的计划啦！</h4>";
            window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.info);
		}


	}
	//4.确认修改计划
    function updatePlan(){
        //判断结束时间是否小于当前时间
        var d = new Date();
        var today = d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate();
        var endTime = $("#edit-endTime").val();
        var options = {
            title:'提示',
            btn:parseInt("0011",2),
            onOk:function(){
                //确认修改
                var plan= $('#table').bootstrapTable('getSelections');
                //4.1 获取修改后的值
                var data = {
                    id:plan[0].id,
                    goal:$("#editGoal").val(),
                    planPriority:$("#editplanPriority").val(),
                    planBegainTime:$("#edit-startTime").val(),
                    planEndTime:$("#edit-endTime").val(),
                    planDescription:$("#edit-describe").val()
                };
                //4.2 ajax调用后台
                $.ajax({
                    url:'/plan/modifyPlan',
                    type:'post',
                    data:JSON.stringify(data),
                    dataType:'json',
                    contentType:'application/json',
                    success:function(ajaxData){
                        if(1==ajaxData.code){
                            //修改成功
                            var txt=  "<h3 style='color:green'>"+ajaxData.msg+"</h3>";
                            window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.success);
                            $("#editPlanModal").modal('hide');
                            refresh();
                        }else {
                            //修改失败
                            $("#editPlanModal").modal('show');
                            var txt=  "<h3 style='color: red'>"+ajaxData.msg+"</h3>";
                            window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.error);
                            editPlan();
                        }
                    },
                    error:function () {
                        var txt=  "<h4 style='color: red'>系统暂时忙不过来啦，<br>请稍后再试啦！</h4>";
                        window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.error);
                    }
                })
            },
            onCancel:function () {
                $("#editPlanModal").modal('show');
                return;
            }
        }
        if(today>endTime){
            //alert(endTime+"---"+$("#edit-endTime").val());
            var txt1 = "<h4 style='color:indianred'>修改后的结束时间已过期，修改后该计划状态就变成已结束计划！</h4>";
            window.wxc.xcConfirm(txt1, window.wxc.xcConfirm.typeEnum.confirm,options);
            return;
        }else{
            //确认修改计划吗？
            var txt=  "<h3 style = 'color:orange'>确认修改计划吗？</h3>";
            window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.confirm,options);
		}
	}
	//5. 废弃计划
	function giveUp(){
        //5.1判断是否选中计划
        var plan= $('#table').bootstrapTable('getSelections');
        if(plan.length<1){
            //未选中计划，提示选中计划
            var txt = "<h4>亲，请先选择一条想要废弃的计划啦！</h4>";
            window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.info);
		}else{
            //选中计划，确认废弃计划吗？一旦废弃不可撤销！
			var txt = '<h4 style="color: red">您确认废弃计划吗？一旦废弃不可撤销哟！</h4>';
            var options = {
                title:'警告！',
                btn:parseInt("0011",2),
                onOk:function(){
                    //确认废弃
                    var plan= $('#table').bootstrapTable('getSelections');
					//获取要废弃的id数组
					//var ids =
                    //5.2 ajax调用后台,废弃计划

                    $.ajax({
                        url:'/plan/discardPlan',
                        type:'post',
                        data:JSON.stringify(plan),
                        dataType:'json',
                        contentType:'application/json',
                        success:function(ajaxData){
                            if(1==ajaxData.code){
                                //废弃成功
                                var txt=  "<h4>"+ajaxData.msg+"</h4>";
                                window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.success);
                                refresh();
                            }else {
                                //废弃失败
                                var txt=  "<h4>"+ajaxData.msg+"</h4>";
                                window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.error);
                            }
                        },
                        error:function () {
                            var txt=  "<h4 style='color: red'>系统暂时忙不过来啦，<br>请稍后再试啦！</h4>";
                            window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.error);
                        }
                    })
                },
                onCancel:function () {
                    return;
                }
            }
            window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.confirm,options);
		}
	}
    //转换日期格式(时间戳转换为datetime格式)
    function changeDateFormat(cellval) {
        var dateVal = cellval + "";
        if (cellval != null) {
            var date = new Date(parseInt(dateVal.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();

            var hours = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
            var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
            var seconds = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

            return date.getFullYear() + "-" + month + "-" + currentDate ;/*+ " " + hours + ":" + minutes + ":" + seconds;*/
        }
    }
    function DoOnMsoNumberFormat(cell, row, col) {
        var result = "";
        if (row > 0 && col == 0)
            result = "\\@";
        return result;
    }
</script>
</head>
<body style="background: #a6e1ec">

	<!-- 创建计划的模态窗口 -->
	<div class="modal fade" id="createPlanModal" role="dialog">
		<div class="modal-dialog" role="document" style="width: 85%;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myModalLabel1">创建计划</h4>
				</div>
				<div class="modal-body">
				
					<form class="form-horizontal" role="form">
					
						<div class="form-group">
							<label for="goal" class="col-sm-2 control-label">计划名称<span style="font-size: 15px; color: red;">*</span></label>
							<div class="col-sm-10" style="width: 300px;">
                                <input type="text" class="form-control" id="goal" autocomplete="off">
							</div>
							<label for="planPriority" class="col-sm-2 control-label">优先级<span style="font-size: 15px; color: red;">*</span></label>
							<div class="col-sm-10" style="width: 300px;">
								<select class="form-control" id="planPriority">
								  <option></option>
								  <option value="1">非紧急</option>
								  <option value="2">普通</option>
								  <option value="3">紧急</option>
								</select>
							</div>
						</div>
						

						<div class="form-group">
							<label for="create-startTime" class="col-sm-2 control-label"  >开始日期</label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control" id="create-startTime" autocomplete="off">
							</div>
							<label for="create-endTime" class="col-sm-2 control-label">结束日期</label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text"  class="form-control" id="create-endTime" autocomplete="off">
							</div>
						</div>
						

						<div class="form-group">
							<label for="create-describe" class="col-sm-2 control-label">描述</label>
							<div class="col-sm-10" style="width: 81%;">
								<textarea class="form-control" rows="3" id="create-describe"></textarea>
							</div>
						</div>
						
					</form>
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="creatPlan()">保存</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 修改计划的模态窗口 -->
	<div class="modal fade" id="editPlanModal" role="dialog">
		<div class="modal-dialog" role="document" style="width: 85%;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myModalLabel2">修改计划</h4>
				</div>
				<div class="modal-body">
				
					<form class="form-horizontal" role="form">
					
						<div class="form-group">
							<label for="editGoal" class="col-sm-2 control-label">计划名称<span style="font-size: 15px; color: red;">*</span></label>
							<div class="col-sm-10" style="width: 300px;">
                                <input type="text" class="form-control" id="editGoal" value="">
							</div>
							<label for="editplanPriority" class="col-sm-2 control-label">优先级<span style="font-size: 15px; color: red;">*</span></label>
							<div class="col-sm-10" style="width: 300px;">
								<select class="form-control" id="editplanPriority">
								  <option></option>
                                    <option th:value=1 >非紧急</option>
                                    <option th:value=2>普通</option>
                                    <option th:value=3>紧急</option>
								</select>
							</div>
						</div>
						

						<div class="form-group">
							<label for="edit-startTime" class="col-sm-2 control-label">开始日期</label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control date" id="edit-startTime" value="" readonly>
							</div>
							<label for="edit-endTime" class="col-sm-2 control-label">结束日期</label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control date" id="edit-endTime" value="" readonly>
							</div>
						</div>
						

						<div class="form-group">
							<label for="edit-describe" class="col-sm-2 control-label">描述</label>
							<div class="col-sm-10" style="width: 81%;">
								<textarea class="form-control" rows="3" id="edit-describe"></textarea>
							</div>
						</div>
						
					</form>
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal" id="updatePlan" onclick="updatePlan()" >更新</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 计划管理body-->
	<div style="background: #a6e1ec">
		<div style="position: relative; left: 10px; top: -10px;">
			<div class="page-header">
				<h3>计划管理</h3>
			</div>
		</div>
	</div>
	<div style="position: relative; top: -20px; left: 0px; width: 100%; height: 100%;background: #a6e1ec">
		<div style="width: 100%; position: absolute;top: 5px; left: 10px;">
			<div class="btn-toolbar" role="toolbar" style="background-color: #a6e1ec; height: 50px; position: relative;top: 5px;" >
				<div class="btn-group" style="position: relative; top: 18%;">
				  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createPlanModal">
					  <span class="glyphicon glyphicon-plus"></span> 创建计划</button>
				  <button type="button" class="btn btn-default" data-toggle="modal" style="background: #2aabd2"  id="eidtPlanButton" onclick="editPlan()">
					  <span class="glyphicon glyphicon-pencil"></span> 修改计划</button>
				  <button type="button" class="btn btn-danger" onclick="giveUp()"><span class="glyphicon glyphicon-minus"></span> 废弃计划</button>
				</div>
				<!--<div class="btn-group" style="position: relative; top: 18%;" >
				  &lt;!&ndash;<button type="button" class="btn btn-default" data-toggle="modal" data-target="#importActivityModal"><span class="glyphicon glyphicon-import"></span> 导入</button>&ndash;&gt;
				  <button type="button" style="background: #00B83F" class="btn btn-default" id="btn_export"><span class="glyphicon glyphicon-export"></span> 导出计划</button>
				</div>-->
			</div>

			<div class="btn-toolbar"  role="toolbar" style="height: 80px;" >
				<form class="form-inline" role="form" style="position: relative;top: 8%; left: 5px;">
					<div class="form-group">
						<div class="input-group" style="width: 18%;height: 30%;">
							<div class="input-group-addon" style="background: #7EC4CC">计划名称</div>
							<input class="form-control" style="background: #d9edf7" type="text"  onblur="this.value=this.value.trim()">
						</div>
						<div class="input-group">
							<div class="input-group-addon" style="background: #00B83F">优先级</div>
							<select class="form-control" style="background: #d9edf7">
								<option></option>
								<option>非紧急</option>
								<option>普通</option>
								<option>紧急</option>
							</select>
						</div>
						<div class="input-group">
							<div class="input-group-addon" style="background: #7EC4CC">状态</div>
							<select class="form-control" style="background: #d9edf7">
								<option></option>
								<option>新建</option>
								<option>进行中</option>
								<option>延期</option>
								<option>已完成</option>
							</select>
						</div>
						<div class="input-group" style="width: 16%;height: 30%;">
							<div class="input-group-addon" style="background: #00B83F">开始日期</div>
							<input class="form-control date" type="text" id="startTime" readonly/>
						</div>
						<div class="input-group" style="width: 16%;height: 30%;">
							<div class="input-group-addon" style="background: #7EC4CC">结束日期</div>
							<input class="form-control date" type="text" id="endTime" readonly />
						</div>
						<div class="input-group" >
							<button type="submit" class="btn btn-default" style="background: #2aabd2">查询</button>
						</div>
					</div>
				</form>
				<table  class="table table-hover" id="table" style="table-layout: fixed;background: #d9edf7 " >
				</table>
			</div>
			<div style="position: relative;top: 10px;">

			</div>
		</div>
		
	</div>
</body>
</html>