<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>登录</title>
<link rel="stylesheet" type="text/css"  th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css"  th:href="@{/css/body.css}"/>
</head>
<body>
<div class="container">
	<section id="content">
		<form id="login-form" >
			<h1>登录</h1>
			<div>
				<input type="text" placeholder="账号"  name="userAccount" required
					   oninvalid="setCustomValidity('请输入您的账号');" oninput="setCustomValidity('');" />
			</div>
			<div>
				<input type="password" placeholder="密码" name="password" required
					   oninvalid="setCustomValidity('请输入您的密码');" oninput="setCustomValidity('');" />
			</div>
			 <div class="">
				<span class="help-block u-errormessage" id="js-server-helpinfo">&nbsp;</span>
			 </div>
            <div style="text-align:center">
                <label id="msg">
                </label>
                <!-- <input type="submit" value="Log in" /> -->
                <input type="submit"  value="登录" class="btn btn-primary" id="btn-login"/>
				<input type="reset" value="重置" class="btn btn-primary" /> </span>
                <!--<a href="#">忘记密码?</a>-->
                <!-- <a href="#">Register</a> -->
            </div>
        </form><!-- form -->
		<div class="button">
			<span class="help-block u-errormessage" id="js-server-helpinfo1">&nbsp;</span>
			<a href="#"></a>
		</div> <!-- button -->
	</section><!-- content -->
</div>
<!-- container -->
<br><br><br><br>
<div style="text-align:center;">
<p>Copyright &copy; 2018 LEIYAFENG</p>
</div>
</body>
<script type="text/javascript" th:src="@{/jquery/jquery-1.11.1-min.js}"></script>
<script type="text/javascript">

    $("#btn-login").click(function () {
        $.ajax({
            async: false,
            type: "POST",
            url: '/login/login',
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            data: $("#login-form").serialize(),
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    window.location.href="/workbench/workIndex";
                }else{
                    $("#js-server-helpinfo").html("<font color='#FF0000'>"+data.message+"</font>");
                }
            },
            error: function () {
                alert("系统异常，请稍后再试！");
            }
        })
        return false;
    })
</script>
</html>

